<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Alumno</title>
</head>
<body>
    <h2>Agregar Nuevo Alumno</h2>
    <form action="/post" method="post">
        <label for="AlumnoID">AlumnoID:</label>
        <input type="text" name="AlumnoID" required><br>

        <label for="Nombre">Nombre:</label>
        <input type="text" name="Nombre" required><br>

        <label for="Apellido">Apellido:</label>
        <input type="text" name="Apellido" required><br>

        <label for="FechaNacimiento">Fecha de Nacimiento:</label>
        <input type="text" name="FechaNacimiento" required><br>

        <label for="Curso">Curso:</label>
        <input type="text" name="Curso" required><br>

        <label for="Usuario">Usuario:</label>
        <input type="text" name="Usuario" required><br>

        <label for="Contraseña">Contraseña:</label>
        <input type="password" name="Contraseña" required><br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>
